@import "fonts";

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
}
aside,h1,section,figure,p{
	margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: Museosanscyrl500;
  color: #000000;
}


.main-header{
	display: block;
	min-height: 80px;
	background-color: grey;
	color: white;
}
.main-content{
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  padding-right: 15px;
	  padding-left: 15px;
	  margin-right: auto;
	  margin-left: auto;
}
.main-content{
	h1{
		font-size: 17.5px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.14;
		letter-spacing: 3.5px;
		text-align: center;
		margin-top: 94px;
		margin-bottom: 100px;
	}
}
.main-content__items{
	display: flex;
	flex-direction: row;
	margin-bottom: 87px;
}
.main-content__items{
	figure{
		display: flex;
		position: relative;
		width: 50%;
		min-height: 1px;
		justify-content: flex-end;
	}

}
img{
	width: initial;
}
.contact-form{
	display: flex;
	position: relative;
	width: 50%;
	min-height: 1px;
	display: flex;
	flex-direction: column;
	padding-left: 83px;
}
.contact-form{
	h2{
		margin: 0;
		text-align: left;
		font-size: 12.5px;
  		font-weight: bold;
	  	font-style: normal;
	  	font-stretch: normal;
	  	line-height: 3;
	  	letter-spacing: 0.6px;
	  	border-bottom: 2px solid #000000;
	}
	p{
	  font-size: 12px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 0.6px;
	  text-align: left;
	  margin-top: 10px;
	  margin-bottom: 38px;
	}
	form{
		input[type=text],
		input[type=email],
		input[type=password]{
			width: 100%;
			background-color: white;
			border: solid 1px #e4e4e4;
			height: 40px;
			padding: 15px 0 14px 17px;
			margin-bottom: 20px;
		}
		input[type=text]::placeholder,
		input[type=email]::placeholder,
		input[type=password]::placeholder{ 
			font-size: 14px;
  			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.71;
			letter-spacing: 0.7px;
			text-align: left;
			color: #cdcdcd; 
		}
		input[type=checkbox]{
			  display: none;
		}
	}
}
.checkbox-sector{
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
.checkbox-sector{
	label{
		display: flex;
    	align-items: center;
    	font-size: 12.5px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 3;
		letter-spacing: 0.6px;
	}
	label:before {
	    content: "";
	    display: flex;
	    width: 14px;
	    height: 14px;
	    margin-right: 20px;
	    position: relative;
	    left: 0;
	    bottom: 1px;
	    background-color: white;
	    border: solid 1px #e4e4e4;
	}
	input[type=checkbox]:checked + label:before {
	    content: "\2713";
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	    font-size: 20px;
	    color: black;
	    line-height: 10px;
	}
	label{
		a{
			padding-left: 5px;
			text-decoration: uppercase;
			color: black;
		}
	}

} 
.buttons-sector{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}
button{
	font-size: 12.5px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: white;
}
.btn{
	padding: 13px 45px;
	border: none
}
.btn-black{
	background-color: #252525;
}
.btn-orange{
	background-color: #f46245;
}
.main-footer{
	min-height: 339px;
	background-color: grey;
	color: white;
}

















@media (min-width: 576px) {
  .main-content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .main-content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .main-content {
    max-width: 1140px;
  }

}
@media (min-width: 1680px) {
  .main-content {
    max-width: 1300px;
  }
} 