<link rel="stylesheet" type="text/css" href="css/style.css">

<header class="main-header"> header </header>

<section class="main-content">
	<h1>CREATE AN ACCOUNT</h1>
	<aside class="main-content__items">
		<figure>
			<img src="img/76.png" alt="">
		</figure>
		<div class="contact-form">
			<h2>SIGN-IN INFORMATION</h2>
			<p>Register now for your order</p>
			<form action="#">
				<input type="text" placeholder="Username">
				<input type="email" placeholder="Email">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Retype your password">
				<div class="checkbox-sector">
					<input type="checkbox" id="check1">
					<label for="check1">When you subscribe you accept <a href="">Privacy Policy.</a>
					</label>

				</div>
				<div class="buttons-sector">
					<button class="btn btn-black">BACK TO SIGN IN</button>
					<button class="btn btn-orange">REGISTER NOW</button>
				</div>
			</form>
		</div>	
	</aside>

</section>

<footer class="main-footer">footer</footer>


